__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv/
venv/
env/
build/
dist/
*.egg-info/
.DS_Store
.ipynb_checkpoints/
.vscode/
.idea/

artifacts/models/
artifacts/plots/
artifacts/reports/
logs/
data/processed/